<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="header">
            <header class="text-white">
                <div class="text-center">
                    <h3>Micro Finance Core System</h3>
                    <p>{{date | date:'dd/MM/yyyy'}}
                        <br> {{date | date:'hh:mm:ss'}}
                </div>
            </header>
        </div>
</div>