.text-muted {
    margin-top: 60px;
    text-align: right;
}
td{
    border-top: 0;
}
th{
    border-bottom: 0;
}
.table thead th {
    border-bottom: 0;
}
.table th, .table td {
    border-top: 0;
}
::-webkit-scrollbar{
    width: 1;
    background: transparent;
}
.main-container{
    background-color: #cccccc
}
.table {
    background-color: transparent;
    border-top: 0;
} 
.content{
    margin-top: 70px;
}

