<div [@routerTransition] class="container">
    <div class="content">
        <div class="text-right form-group">
            <small>Kelompok Account</small>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" results="Level User" (change)="onChange($event)">
                <option selected="">Pilih Jenis</option>
                <option *ngFor="let i of results" value="{{i.ACCJENIS}}">{{i.JENIS}}</option>
            </select>
        </div>
        <div class="card mb-3">
            <ng2-smart-table  *ngIf="form" [settings]="settings" [source]="kelompok" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>