<div class="header">
  <header class="text-white">
    <div class="container text-center">
      <h3>MicroFinance Core System</h3>
      <p>{{date | date:'dd/MM/yyyy'}}
        <br> {{date | date:'hh:mm:ss'}}
    </div>
  </header>
  <section id="menu">
    <div class="container">
      <div class="row">
        <div class="container text-center">
          <h5>MENU ANGGOTA</h5>
        </div>
        <div class="col-lg-9 col-centered">
          <!-- <div class="card mb-3"> -->
          <!-- <div class="card-header">
                <div class="text-center"><h6>MENU UTAMA</h6></div>
              </div> -->
          <!-- <div class="card-block table-responsive"> -->
          <table class="table table-sm">
            <tbody>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a routerLink="/master-anggota" (click)="MA()">
                    <img src="assets/images/ic_apps.png " style="width:7%; background:white" alt="">&nbsp;Master Anggota
                  </a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a routerLink="/dashboard">
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;Approve</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
              </tr>
              <tr>
                <td style="width:15%"></td>
                <td>
                  <a>
                    <img src="assets/images/ic_apps.png" style="width:7%; background:white" alt="">&nbsp;-------------------------------</a>
                </td>
                <td style="width:30%"></td>
                <td>
                  <a [routerLink]="['/menu']">KEMBALI</a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

</div>