<div [@routerTransition]>
    <div class="content">
        <div class="text-right form-group">
            <small>Setting</small>
        </div>
        <div class="card mb-3">
            <div class="card-header">Parameter Setting</div>
            <div class="card-block table-responsive">
                <table>
                    <tbody>
                        <tr>
                            <td>Jenis Simpanan</td>
                            <td>
                                <input type="text" name="jenis simpanan" id="jenis simpanan" class="form-control" placeholder="Jenis Simpanan">
                            </td>
                            <td>
                                <button class="btn btn-primary">Cari</button>
                            </td>
                            <td>
                                <input type="text" name="ket" id="ket" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Min. Setoran awal</td>
                            <td>
                                <input type="text" name="min" id="min" class="form-control text-right" placeholder="00">
                            </td>
                            <td></td>
                            <td>Min Setoran</td>
                            <td>
                                <input type="text" name="min" id="min" class="form-control text-right" placeholder="00">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>